@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

$font-1: "Poppins", sans-serif;

$color-1: #61dafb;
$color-2: #f7f7f7;
$color-3: #282c34;
$color-4: rgb(32, 35, 42);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0.4rem auto;
  max-width: 1500px;
  font-family: $font-1;
  color: $color-3;
  background-color: $color-2;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $color-3;
  cursor: pointer;
}
a:visited {
  color: $color-3;
}
#root {
  display: flex;
}
.Content {
  flex: 5;
  padding-left: 50px;
}
.Navigation {
  flex: 1;
  height: min-content;
  width: 15%;
  .MuiSvgIcon-root {
    margin-right: 20px;
  }
}
.camTool {
  position: relative;
  .konvajs-content {
    position: absolute !important;
    top: 0px;
  }
  img {
    width: 100%;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  button {
    margin-right: 15px;
  }
}
.roomTool {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.roomTable {
  flex: 2;
  .MuiButton-root {
    margin: 10px;
    float: right;
  }
}
.roomForm {
  flex: 1;
  margin-left: 30px;
  padding: 20px;
  .camList {
    margin-top: 15px !important;
    border: solid 1px;
    border-color: rgb(196, 196, 196);
    border-radius: 4px;
  }
  .addCamButton {
    float: right;
  }
  .MuiButton-root {
    margin-top: 20px;
    float: right;
  }
}
.MuiDialogContent-root {
  .MuiFormControl-root {
    margin-bottom: 15px;
  }
  .MuiButton-root {
    float: right;
  }
}